.my-input-basic {
    font-size: 25px;
    width: 50ch;
    margin: auto;  /* aligns the box to the centre */ 
    display: block; /* aligns the box to the centre */
}

.my-button-basic {
    font-size: 25px;
    width: 10ch;
    margin: auto;  /* aligns the box to the centre */ 
    display: block; /* aligns the box to the centre */
}

.result {
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}